<div class="col-md-12">
  <div class="card card-block">
    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" 
               class="form-control"
               placeholder="Email"
               required
               [(ngModel)]="_resetPasswordData.email"
               name="email">
      </div>
      <button type="submit" 
              class="btn btn-success-custom col-md-12"
              [disabled]="!resetPasswordForm.form.valid">
              Reset Password
      </button>
    </form>
  </div>
</div>
<div class="col-md-6">
  {{_output}}
</div>